*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    background-color: #F2F2F7;
    color: #1d1d1f;
    font-style: normal;
}

/* Banner */
#banner,
#banner:before,
#banner:after,
#banner *,
#banner *:before,
#banner *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

#banner {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 9997;
}

#banner.sticky {
    position: -webkit-sticky;
    position: sticky;
}

#banner .banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    #banner {
        height: 48px;
    }
}

/* Banner - Background */
#banner .banner-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#banner.banner-area .banner-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

#banner .banner-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.16);
}

#banner.banner-area .banner-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    #banner .banner-background {
        min-height: 48px;
        -webkit-transition: background-color 0.5s ease 0.7s;
        transition: background-color 0.5s ease 0.7s;
    }
}

/* Banner - Content */
#banner .banner-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#banner .banner-content a {
    text-decoration: none;
}

#banner .banner-content::before,
#banner .banner-content::after {
    content: ' ';
    display: table;
}

#banner .banner-title {
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}

#banner .banner-title,
#banner .banner-title a {
    color: #6667AA;
    -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#banner .banner-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .92;
    pointer-events: none;
}

#banner .banner-action {
    float: right;
}

#banner .banner-action-button .banner-button {
    margin-top: 14px;
}

#banner .banner-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #F4D782;
    color: #214E6D;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
}

@media only screen and (max-width: 1023px) {
    #banner .banner-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px) {
    #banner .banner-content {
        padding: 0 10px;
    }

    #banner .banner-title {
        font-size: 19px;
        line-height: 24px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        display: inline-block;
        margin: 12px 0 -12px;
        height: 48px;
    }

    #banner .banner-action-button {
        margin-left: 17px;
        margin-top: -3px;
    }
}

/* 物流选择 */
.shipping-section {
    display: block;
    width: 100%;
}

.shipping-content-width {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.shipping-content-arrange {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(1, 1fr);
    border-top: 20px solid #f2f2f7;
    border-bottom: 20px solid #f2f2f7;
}

.shipping-content {
    width: 100%;
    display: block;
}

.shipping-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;
    padding-bottom: 20px;
}

.shipping-button-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(2, 1fr);
}

fieldset {
    width: 100%;
    border: 0;
}

.button-selector {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.button-selector-input {
    position: absolute;
    opacity: 0;
}

.button-selector-input:hover~.button-selector-label {
    border-color: #86868b;
    border-width: 1px;
    border-style: solid;
}

.button-selector-input:checked~.button-selector-label {
    border-color: #0071e3;
    border-width: 1px;
    border-style: solid;
}

.button-selector-input.focused~.button-selector-label,
.button-selector-input:focus~.button-selector-label {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgba(0, 125, 250, .6);
    border-width: 1px;
    border-style: solid;
}

.button-selector-input:disabled~.button-selector-label {
    border-color: #d2d2d7;
    opacity: .32;
    cursor: auto;
    border-width: 1px;
    border-style: solid;
}

.button-selector-input.focused~.button-selector-label,
.button-selector-input:checked~.button-selector-label,
.button-selector-input:focus~.button-selector-label {
    outline: none;
    border-width: 2px;
    padding: 14px;
}

.button-selector-label {
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    color: #6667AA;
    background-color: #FFF;
}

@media only screen and (max-width: 767px) {
    .shipping-content-width {
        padding: 0 10px;
    }

    .shipping-title {
        font-size: 21px;
        line-height: 25px;
        font-weight: 600;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        color: #6667AA;
        padding-bottom: 20px;
    }
}

/* 商品 */
.product-section {
    display: block;
    width: 100%;
}

.product-content-width {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.product-content-arrange {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 20px solid #f2f2f7;
}

.product-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;
}

.bag-item {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
    background-color: #FFF;
    padding: 20px 0;
}

.iteminfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 36px);
    margin: 0 18px;
}

.iteminfo-image {
    width: 147px;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    flex-basis: 15%;
    max-width: 15%;
}

.iteminfo-image img {
    max-width: 147px;
    max-height: 147px;
    width: auto;
    height: auto;
    float: none;
    pointer-events: none;
}

.iteminfo-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    flex-basis: 85%;
    max-width: 85%;
}

.iteminfo-detail {
    display: flex;
    flex-wrap: wrap;
}

.iteminfo-detail-title-wrapper {
    padding-right: 18px;
    padding-left: 18px;
    box-sizing: border-box;
    flex-basis: 60%;
    max-width: 60%;
}

.iteminfo-detail-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;
}

.iteminfo-detail-quantity {
    width: 10%;
}

.quantity-content {
    margin-top: -2px;
}

.form-textbox {
    position: relative;
}

.form-textbox-input {
    top: -10px;
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    padding: 18px 16px 0;
    text-align: left;
    color: #1d1d1f;
    background-color: hsla(0, 0%, 100%, .8);
}

.form-textbox-input:focus {
    box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
    outline: none;
    border-color: #0071e3;
}

.form-textbox-label {
    position: absolute;
    pointer-events: none;
    transition-timing-function: ease-in;
    transition-duration: .125s;
    top: 10px;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 32 px);
    left: 17px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6e6e73;
}

.iteminfo-detail-pricedetail {
    width: 30%;
    margin-left: auto;
}

.iteminfo-detail-price {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #1d1d1f;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .product-content-width {
        padding: 0 10px;
    }

    .product-title {
        font-size: 21px;
        line-height: 25px;
        font-weight: 600;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        color: #6667AA;
    }

    .iteminfo-image {
        width: 100%;
        height: auto;
        flex-basis: 100%;
        max-width: 100%;
    }

    .iteminfo-image img {
        float: none;
    }

    .iteminfo-content {
        flex-basis: 100%;
        max-width: 100%;
    }

    .iteminfo-detail-title-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .iteminfo-detail-title {
        font-size: 21px;
        line-height: 25px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        color: #6667AA;
    }

    .iteminfo-detail-quantity {
        width: 30%;
    }

    .quantity {
        margin-top: -6px;
    }

    .iteminfo-detail-pricedetail {
        width: 70%;
    }

    .iteminfo-detail-price {
        font-size: 21px;
        line-height: 25px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        color: #1d1d1f;
        padding-left: 10px;
        text-align: right;
    }
}

/* 资讯 */
.customer-section {
    display: none;
    width: 100%;
}

.customer-content-width {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.customer-content-arrange {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 20px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 20px solid #f2f2f7;
}

.customer-title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;
}

.customer-container {
    display: block;
}

.customer-labelinput {
    position: relative;
}

.form-input {
    color: #1d1d1f;
    border-color: #d2d2d7;
    background-color: hsla(0, 0%, 100%, .8);
    text-overflow: ellipsis;
}

.form-input textarea {
    color: #1d1d1f;
    background-color: initial;
}

.form-input:disabled {
    color: #86868b;
    -webkit-text-fill-color: #86868b;
    background-color: rgba(0, 0, 0, .02)
}

.form-input:disabled textarea {
    color: #86868b;
    -webkit-text-fill-color: #86868b
}

.form-input:focus {
    border-color: #1d1d1f;
}

.form-input::placeholder {
    color: #6e6e73
}

.form-input:not(:disabled).form-textbox-entered~.form-label,
.form-input:not(:disabled):focus~.form-label,
.form-input:not(:disabled):valid[required]~.form-label,
.form-input:not(:disabled)[placeholder]:not(:placeholder-shown)~.form-label,
.form-input:not(:disabled)[placeholder]:not([placeholder=" "])~.form-label {
    color: #6e6e73
}

.customer-labelinput.is-error .form-input:not(:focus) {
    border-color: #e30000;
    background-color: #fff2f4
}

.customer-labelinput.is-error .form-input:not(:disabled).form-textbox-entered~.form-label,
.customer-labelinput.is-error .form-input:not(:disabled):focus~.form-label,
.customer-labelinput.is-error .form-input:not(:disabled):valid[required]~.form-label,
.customer-labelinput.is-error .form-input:not(:disabled)[placeholder]:not(:placeholder-shown)~.form-label,
.customer-labelinput.is-error .form-input:not(:disabled)[placeholder]:not([placeholder=" "])~.form-label,
.customer-labelinput.is-error .form-label {
    color: #e30000
}

.form-input {
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    width: 100%;
    height: 56px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    padding: 18px 16px 0;
    margin-bottom: 14px;
    text-align: left;
    -webkit-appearance: none;
    appearance: none
}

.form-input.form-textbox-entered~.form-label,
.form-input:focus~.form-label,
.form-input:valid[required]~.form-label,
.form-input[placeholder]:not(:placeholder-shown)~.form-label,
.form-input[placeholder]:not([placeholder=" "])~.form-label {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    top: 10px;
}

.form-input:focus {
    box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
    outline: none;
}

.is-error .form-input {
    margin-bottom: 0
}

.form-label {
    position: absolute;
    pointer-events: none;
    transition-timing-function: ease-in;
    transition-duration: .125s;
    top: 18px;
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 32px);
    left: 17px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
}

.form-message-wrapper {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #e30000;
    position: relative;
    margin-top: 9px;
    margin-bottom: 12px;
    display: none;
}

.form-message-wrapper:after,
.form-message-wrapper:before {
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: inherit;
    display: inline-block;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: 1;
    text-decoration: underline;
    position: relative;
    z-index: 1;
    alt: "";
    text-decoration: none
}

.form-message-wrapper:before {
    display: none
}

.form-message-wrapper:after,
.form-message-wrapper:before {
    content: "⚠"
}

.form-message-wrapper:before {
    padding-right: 4.8px;
    display: inline-block;
    top: 0
}

.form-message-wrapper:after {
    display: none
}

.form-message-wrapper:before {
    padding-right: 3px;
    top: 3px;
}

.is-error .form-message-wrapper {
    display: flex
}

.cart-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.cart-button-container {
    flex-basis: 100%;
    max-width: 100%;
}

.cart-button-wrapper {
    width: 300px;
    float: right;
}

.form-button {
    cursor: pointer;
    text-align: center;
    background: #0071e3;
    color: #fff;
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    padding: 18px 31px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    white-space: normal;
    display: inline-block;
    border: 0;
}

.form-button:disabled {
    background: #1d1d1f;
    pointer-events: none;
}

.info {
    display: none;
}

.info .info-container {
    flex-basis: 100%;
    max-width: 100%;
}

.info .info-container .info-wrapper {
    width: 300px;
    float: right;
}

.info .info-container .info-wrapper .content {
    width: 100%;
    padding: 20px 0;
    background: #FFF4D3;
    border-radius: 12px;
    display: block;
}

.info .info-container .info-wrapper .content .content-box {
    margin: 0 18px;
    pointer-events: none;
}

.info .info-container .info-wrapper .content .content-box .title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.info .info-container .info-wrapper .content .content-box .btn {
    cursor: pointer;
    text-align: center;
    background: #0030A7;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 28px;
    padding: 18px 31px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 12px;
    white-space: normal;
    display: inline-block;
    border: none;
    margin-top: 10px;
    pointer-events: auto;
}

.info .info-container .info-wrapper .content .content-box #product-select-total {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .customer-content-width {
        padding: 0 10px;
    }

    .customer-title {
        font-size: 21px;
        line-height: 25px;
        font-weight: 600;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        color: #6667AA;
    }

    .cart-button-wrapper {
        width: 100%;
    }

    .info .info-container .info-wrapper {
        width: 100%;
    }
}

/* 总价 */
.summary-section {
    display: block;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
    position: sticky;
    bottom: 0;
    left: 0;
    border-top: 1px solid #cfcfd3;
}

.summary-content-width {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.summary-container {
    display: block;
}

.summary-content {
    margin: 8px 0;
}

.summary-labelvalue {
    display: flex;
    justify-content: space-between;
}

.summary-label {
    font-size: 17px;
    line-height: 21px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    flex-grow: 1;
    z-index: 2;
    padding-right: 20px;
    color: #89898d;
}

.summary-value {
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    flex-grow: 1;
    text-align: right;
    padding-left: 20px;
    color: #89898d;
}

.summary-total {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d2d2d7;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 25px;
}

.summary-total .summary-label {
    flex-grow: 1;
    z-index: 2;
    padding-right: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;

}

.summary-total .summary-value {
    flex-grow: 1;
    text-align: right;
    padding-left: 20px;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #6667AA;
}

@media only screen and (max-width: 767px) {
    .summary-content-width {
        padding: 0 10px;
    }

    .summary-total .summary-label {
        font-size: 21px;
        line-height: 15px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    }

    .summary-total .summary-value {
        font-size: 21px;
        line-height: 15px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    }
}