*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    background-color: #F2F2F7;
    color: #1d1d1f;
    font-style: normal;
}

/* 商品选择栏 */
#nav {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #FBFBFD;
}

.nav-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.nav-items {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    list-style: none;
    padding-bottom: 49px;
    margin: 0 16px;
}

.nav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    padding: 0 20px;
}

.nav-item:first-child {
    margin-left: 0;
    padding-left: 4px;
}

.nav-item:last-child {
    margin-right: 0;
    padding-right: 4px;
}

a {
    text-decoration: none;
}

.nav-link {
    color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}

.nav-link:hover {
    color: #6667AA;
}

.nav-icon {
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}

.baiguo .nav-icon {
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/baiguo.png');
    width: 54px;
}

.drinks .nav-icon {
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/drinks.png');
    width: 54px;
}

.niangao .nav-icon {
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/niangao.png');
    width: 54px;
}

.recipe .nav-icon {
    background-size: 54px 54px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/recipe.png');
    width: 54px;
}

.nav-label {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    display: block;
    margin: 0;
}

.nav-new {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    color: #A9892C;
    display: block;
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
}

button:disabled {
    cursor: default;
}

/* 内容 */
.links-content {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    position: relative;
    display: block;
}

/*横幅*/
#banner,
#banner:before,
#banner:after,
#banner *,
#banner *:before,
#banner *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

#banner {
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 9997;
}

#banner.sticky {
    position: -webkit-sticky;
    position: sticky;
}

#banner .banner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    #banner {
        height: 48px;
    }
}

/* 横幅 - 背景 */
#banner .banner-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#banner.banner-area .banner-background {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.72);
}

#banner .banner-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.16);
}

#banner.banner-area .banner-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    #banner .banner-background {
        min-height: 48px;
        -webkit-transition: background-color 0.5s ease 0.7s;
        transition: background-color 0.5s ease 0.7s;
    }
}

/* 横幅 - 内容 */
#banner .banner-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#banner .banner-content a {
    text-decoration: none;
}

#banner .banner-content::before,
#banner .banner-content::after {
    content: ' ';
    display: table;
}

#banner .banner-title {
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}

#banner .banner-title,
#banner .banner-title a {
    color: #6667AA;
    -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#banner .banner-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .92;
    pointer-events: none;
}

#banner .banner-action {
    float: right;
}

#banner .banner-action-button .banner-button {
    margin-top: 14px;
}

#banner .banner-button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    background: #F4D782;
    color: #214E6D;
    font-size: 12px;
    line-height: 1.33337;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;
}

@media only screen and (max-width: 1023px) {
    #banner .banner-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px) {
    #banner .banner-content {
        padding: 0 10px;
    }

    #banner .banner-title {
        font-size: 19px;
        line-height: 24px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
        display: inline-block;
        margin: 12px 0 -12px;
        height: 48px;
    }

    #banner .banner-action-button {
        margin-left: 17px;
        margin-top: -3px;
    }
}

/* 主内容 */
.mcontent-section {
    display: block;
    width: 100%;
    background-color: #fff;
}

.mcontent-section.grey {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
}

.mcontent-width {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.mcontent-arrange {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 12px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(1, 1fr);
}

.grey .mcontent-arrange {
    border-top: 12px solid #f2f2f2;
    border-bottom: 12px solid #f2f2f2;
}

@media only screen and (max-width: 767px) {
    .mcontent-width {
        padding: 0 10px;
    }

    .mcontent-arrange {
        grid-gap: 16px;
    }

    .grey .mcontent-arrange {
        border-top: 16px solid #f2f2f2;
        border-bottom: 16px solid #f2f2f2;
    }
}

/* 示意图 */
.image-container {
    width: 100%;
}

.image-container .image-hero {
    overflow: hidden;
    position: relative;
}

.image-container .image-hero img {
    display: block;
    width: 100%;
    pointer-events: none;
}

/* 资讯 */
.specs-section {
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: #fff;
}

.specs-section.att {
    background-color: #FFF4D3;
}

.specs-contain {
    margin-left: 18px;
}

.specs-row {
    padding: 20px 0;
    border-top: 1px solid #d2d2d7;
}

.specs-row.first {
    border-top: none;
}

.specs-row:before {
    content: " ";
    display: table;
}

.specs-row:after {
    content: " ";
    display: table;
    clear: both;
}

.specs-rowheader {
    float: left;
    width: 22%;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    position: relative;
    margin-top: -4px;
    color: #6667AA;
}

.specs-column {
    float: left;
    margin-left: 3%;
    width: 75%;
}

.specs-column p {
    margin-right: 15px;
}

p+* {
    margin-top: 13.6px;
}

@media only screen and (max-width: 767px) {
    .specs-rowheader {
        width: 32%;
        font-size: 19px;
        line-height: 23px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    }

    .specs-column {
        margin-left: 3%;
        width: 62%;
    }
}

/* 重点区域 */
.important-section {
    background-color: #FFF4D3;
}

.footnote-number {
    font-style: normal;
    color: #6667AA;
    direction: ltr;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    position: absolute;
    vertical-align: initial;
    -moz-font-feature-settings: "numr";
    -webkit-font-feature-settings: "numr";
    font-feature-settings: "numr";
    top: -6px;
}

.footnote-number a {
    text-decoration: none;
    vertical-align: inherit;
    color: inherit;
}

@media only screen and (max-width: 767px) {
    .footnote-number {
        font-size: 16px;
    }
}

/*服务*/
.buystrip {
    width: 100%;
    display: block;
    border-radius: 18px;
    background-color: #dadbef;
}

.buystrip-info {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 56px;
    text-align: center;
}

.buystrip-info-column {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 25%;
    flex: 1 25%;
    max-width: 410px;
    flex-basis: 50%;
}

.buystrip-info-content {
    margin: 0 auto;
    padding-top: 56px;
    position: relative;
    text-align: center;
    width: 216px;
    z-index: 1;
}

a.block {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

a.block:before {
    content: '';
    display: table;
}

.buystrip-info-icon.delivery {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 56px;
    background-size: 100% 56px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/delivery.svg');
}

.buystrip-info-icon.help {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 56px;
    background-size: 100% 56px;
    background-repeat: no-repeat;
    background-image: url('Images/Icon/help.svg');
}

.buystrip-info-title {
    font-size: 19px;
    line-height: 23px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    margin-top: 10px;
    color: #6667AA;
    display: inline-flex;
}

.buystrip-info-copy {
    display: block;
    margin-top: 5.6px;
}

.title-remark {
    color: #6667AA;
    font-size: 16px;
    vertical-align: initial;
    -moz-font-feature-settings: "numr";
    -webkit-font-feature-settings: "numr";
    font-feature-settings: "numr";
    position: relative;
    display: inline;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    top: -6px;
    text-decoration: none;
}

/* Footer */
.footer-section {
    display: block;
    width: 100%;
    background-color: #f2f2f2;
}

.footer-contain {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

.remark {
    display: block;
    padding: 18px 0 60px;
    color: #86868b;
}

.remark ol {
    list-style-position: outside;
    margin: 0;
    padding: 0 5px 0 17px;
}

.remark ol li {
    padding-bottom: 9.6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    list-style-type: decimal;
}

/* 食谱 */
.content-container {
    width: 100%;
    display: block;
}

.content-section {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    display: block;
}

@media only screen and (max-width: 767px) {
    .content-section {
        padding: 0 10px;
    }
}

/* 搜索框  */
.search-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 16px 0;
}

.search-container .search-placeholder-bar {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
}

.search-container .search-placeholder-bar .search-placeholder-input {
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    pointer-events: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 36px;
    line-height: 36px;
    padding: 0;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text {
    display: block;
    position: relative;
    z-index: 2;
    padding: 0;
    height: 36px;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text .searchform-input {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    pointer-events: auto;
    border: 1px solid #d2d2d7;
    background-color: #fff;
    border-radius: 12px;
    color: #6667AA;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 17px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    height: 21px;
    padding: 6.5px 40px;
    width: calc(100% - (40px * 2) - (1px * 2));
    position: relative;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text .searchform-input:focus {
    border-color: #0071e3;
    box-shadow: 0 0 0 4px rgba(0, 125, 250, .6);
    outline: none;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text .searchform-icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: 10px;
    padding: 0;
    pointer-events: auto;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    background-image: url("Images/Icon/search-icon.svg");
    width: 30px;
    height: 36px;
    background-position: left 8px center;
    opacity: .8;
    cursor: default;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text .searchform-reset {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    cursor: default;
    opacity: 0;
    display: block;
    height: 36px;
    width: 30px;
    height: 100%;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease, display 0.3s ease;
    transition: opacity 0.3s ease, display 0.3s ease;
}

.search-container .search-placeholder-bar .search-placeholder-input .search-placeholder-input-text .searchform-reset .reset-icon {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-right: 10px;
    padding: 0;
    pointer-events: auto;
    right: 8px;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 15px;
    height: 16px;
    background-size: 15px 16px;
    background-repeat: no-repeat;
    background-image: url("Images/Icon/reset-icon.svg");
}

.search-container .search-placeholder-bar .search-placeholder-input.withreset .search-placeholder-input-text .searchform-reset {
    cursor: pointer;
    opacity: 1;
    pointer-events: auto
}

.recipe-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-gap: 16px;
    grid-template-areas: "";
    -ms-grid-columns: ;
    grid-template-columns: repeat(1, 1fr);
    border-bottom: 60px solid #f2f2f2;
}

.small-container {
    width: 100%;
    display: block;
    border-radius: 20px;
    background-color: #fff;
}

.small-container .container {
    margin: 0 18px;
}

.small-container .container .title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    position: relative;
    color: #6667AA;
    padding: 20px 0;
    display: block;
}

.small-container .container .content-row {
    padding: 20px 0;
    position: relative;
    display: block;
}

.small-container .container .content-row:before {
    content: " ";
    display: table;
}

.small-container .container .content-row:after {
    content: " ";
    display: table;
    clear: both;
}

.small-container .container .content-row .content-rowheader {
    float: left;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    position: relative;
    margin-top: -3px;
    color: #6667AA;
}

.small-container .container .content-row .content-rowheader.medium {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    width: 22%;
}

.small-container .container .content-row .content-column {
    float: left;
    margin-left: 3%;
    width: 75%;
}

.small-container .container .content-row .content-column p {
    margin-right: 15px;
}

@media only screen and (max-width: 767px) {
    .specs-rowheader {
        font-size: 19px;
        line-height: 23px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    }

    .small-container .container .content-row .content-rowheader.medium {
        font-size: 17px;
        line-height: 21px;
        font-weight: bold;
        font-family: "Helvetica", "Arial", "Microsoft YaHei", sans-serif;
    }
}